<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MapeoEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=elitsoft;password=123456;persistsecurityinfo=True;database=proyecto&quot;" providerName="System.Data.EntityClient" />
    <add name ="Excel07_ConStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages validateRequest="false" />
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" timeout="2"/>
      </authentication>

      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Inicio.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  
  <system.web>
    <customErrors mode="On" defaultRedirect="404.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="404.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="400" redirect="400.aspx?msg=400&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="401" redirect="401.aspx?msg=401&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="403" redirect="403.aspx?msg=403&amp;handler=customErrors%20section%20-%20Web.config"/>
      <error statusCode="500" redirect="500.aspx?msg=500&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
  </system.web>
  
</configuration>
